/*!!!
  section: Combos
  title: Combo (default)
  jade: |
    .combo
      .combo-first
        .card Combo First
      .combo-last
        .card Combo Last
  */
.combo
  display: table
  width: 100%
  > .combo-first
    width: 0
    white-space: nowrap
    img
      max-width: none
  > .combo-last
    width: 100%
  > *
    vertical-align: top

/*!!!
  section: Combos
  title: Combo Reversed
  jade: |
    .combo.combo--reversed
      .combo-first
        .card Combo First
      .combo-last
        .card Combo Last
  */
.combo--reversed
  > .combo-first
    width: 100%
    white-space: normal
  > .combo-last
    width: 0
    white-space: nowrap
    img
      max-width: none

.combo--middle
  > *
    vertical-align: middle

.combo--bottom
  > *
    vertical-align: bottom

.combo--auto
  width: auto
  > .combo-first
    width: 0
  > .combo-last
    width: auto
  &.combo--reversed
    > .combo-first
      width: auto
    > .combo-last
      width: 0

/*!!!
  section: Combos
  title: Combo Narrow
  jade: |
    .combo.combo--narrow
      .combo-first
        .card Combo First
      .combo-last
        .card Combo Last
  */
.combo--narrow
  > .combo-first
    padding-right: 6px
  > .combo-last
    padding-left: 6px

.combo--wide
  > .combo-first
    padding-right: 24px
  > .combo-last
    padding-left: 24px

.combo--full
  > .combo-first
    padding-right: 0
  > .combo-last
    padding-left: 0

.combo-first
  display: table-cell
  padding-right: 12px

.combo-last
  display: table-cell
  padding-left: 12px
