.margin-top
  &._20
    margin-top: 20px
  &._10
    margin-top: 10px

.italic
  font-style: italic

.orange-underline
  border-bottom: 2px solid bdOrange

.center
  text-align: center

.center-block
  margin-left: auto
  margin-right: auto

.temp-spacing
  min-height: 400px

.hide
  display: none

.hidden
  visibility: hidden !important

.shown
  visibility: visible !important

.relative
  position: relative