// colours
bdBlue = #1479B7
formGrey = #98AAAC
ribbonGrey = #313944
ribbonGreyBg = #545C66
bdOrange = #E77E37



// breakpoints
palmBreakpoint = "(max-width: 568px)"
lapBreakpoint = "(min-width: 569px) and (max-width: 768px)"
deskBreakpoint = "(min-width: 769px)"
portableBreakpoint = "(max-width: 768px)"
largeBreakpoint = "(min-width: 569px)"
