// colours
primaryColor = #C8102E
greyLight = #889098
grey = #E5E5E5
greyDark = #323F46


// breakpoints
palmBreakpoint = "(max-width: 568px)"
lapBreakpoint = "(min-width: 569px) and (max-width: 768px)"
deskBreakpoint = "(min-width: 769px)"
portableBreakpoint = "(max-width: 768px)"
largeBreakpoint = "(min-width: 569px)"
