// colours
bdBlue = #1479B7
formGrey = #98AAAC
ribbonGrey = #313944
ribbonGreyBg = #545C66
bdOrange = #E77E37
mainText = #586065



// breakpoints
palmBreakpoint = "(max-width: 568px)"
lapBreakpoint = "(min-width: 569px) and (max-width: 768px)"
deskBreakpoint = "(min-width: 769px)"
portableBreakpoint = "(max-width: 768px)"
largeBreakpoint = "(min-width: 569px)"
vibaBreakpoint = "(max-width: 1024px)"

nav-width = 275px
nav-width-narrow = 220px

size(value)
  if value == 1
    return 12px
  else if value == 2
    return 16px
  else if value == 3
    return 20px
  else if value == 4
    return 24px
  else if value == 5
    return 36px
  else if value == 6
    return 48px
  else if value == 7
    return 60px
  else if value == 8
    return 72px
  else if value == 9
    return 84px
  else if value == 10
    return 96px
  else
    return 0