fit-container($img-url, $height = inherit, $position = center)
  height: $height
  position: relative
  background: image-url($img-url) no-repeat $position
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover