$default_rounded_amount = 5px
// Round corner at position by amount.
round-corner($position, $amount = $default_rounded_amount)
  border-#<Sass::Script::Tree::Variable:0x007fead2ce7290>-radius: $amount !important
  -webkit-border-#<Sass::Script::Tree::Variable:0x007fead2cf6218>-radius: $amount !important
round-corner-mozilla($position, $amount = $default_rounded_amount)
  -moz-border-radius-#<Sass::Script::Tree::Variable:0x007fead2d15960>: $amount !important
// Round left corners by amount
round-left-corners($amount = $default_rounded_amount)
  round-corner("top-left", $amount)
  round-corner("bottom-left", $amount)
  round-corner-mozilla("topleft", $amount)
  round-corner-mozilla("bottomleft", $amount)
// Round right corners by amount
round-right-corners($amount = $default_rounded_amount)
  round-corner("top-right", $amount)
  round-corner("bottom-right", $amount)
  round-corner-mozilla("topright", $amount)
  round-corner-mozilla("bottomright", $amount)
// Round top corners by amount
round-top-corners($amount = 5px)
  round-corner("top-left", $amount)
  round-corner("top-right", $amount)
  round-corner-mozilla("topleft", $amount)
  round-corner-mozilla("topright", $amount)
// Round bottom corners by amount
round-bottom-corners($amount = $default_rounded_amount)
  round-corner("bottom-left", $amount)
  round-corner("bottom-right", $amount)
  round-corner-mozilla("bottomleft", $amount)
  round-corner-mozilla("bottomright", $amount)
// Round all corners by amount
round-corners($amount = $default_rounded_amount)
  border-radius: $amount !important
  -moz-border-radius: $amount !important
  -webkit-border-radius: $amount !important