.category-title
  margin-bottom: 20px
  color: bdBlue
  font-family: merriweather
  font-size: 36px

.category-post
  margin-bottom: 15px
  h4
    color: bdOrange
    font-weight: 500
    margin-bottom: 3px