.container
  max-width: 1062px
  position: relative
  margin: 0 auto
  padding: 0 20px
  height: 100%
  @extend .clearfix
  @media portableBreakpoint
    padding: 0 20px
  &.container--narrow
    max-width: 768px
