.content-block
  margin-bottom: 40px
  .arve-wrapper.arve-normal-wrapper.arve-youtube-wrapper
    width: 70%
    margin-left: auto
    margin-right: auto
    @media lapBreakpoint
      width: 85%
    @media palmBreakpoint
      width: 100%