.contact-us
  .wpcf7 .wpcf7-submit
    width: auto
    padding: 13px 50px
  .wpcf7-response-output
    margin-top: 20px
    color: #FFFFFF
    round-corners(5px)
    margin: 0 !important
    margin-top: 15px !important
    text-align: center
    font-size: 18px
    font-weight: 400
    font-family: lato

  .copyright
    font-family: lato
    font-size: 14px
    margin-top: 50px
    margin-bottom: 35px
