.eg-blue-door-element-1, .eg-blue-door-element-2
  text-decoration: none
  &:hover
    text-decoration: underline

.esg-sortbutton-wrapper
  display: none !important

.eg-blue-door-element-7[href$="#"]
  display: none
