.hero
  color: #FFFFFF
  position: relative
  .grid
    padding-top: 130px
  .grid__item
    vertical-align: middle

  h1
    margin-bottom: 40px
    max-width: 415px
    @media palmBreakpoint
      margin-bottom: 20px

  .hero-regular, .hero-small
    max-width: 430px
    font-family: lato
    line-height: 150%
    @media palmBreakpoint
      margin-bottom: 20px

  .hero-regular
    font-size: 22px
    font-weight: 300
    margin-bottom: 30px
    @media palmBreakpoint
      font-size: 18px

  .hero-small
    font-size: 18px
    font-weight: 400
    @media palmBreakpoint
      font-size: 16px

  .hero-form
    padding: 40px 30px
    background-color: #FFFFFF
    @extend .box-sizing
    round-corners(5px)
    max-width: 360px
    position: relative
    @media lapBreakpoint
      max-width: 340px
      padding: 40px 20px
    @media palmBreakpoint
      padding: 40px 15px
      text-align: center
      width: 100%
      max-width: none
    p
      margin: 0

  .hero-form-main-tagline
    font-family: lato
    font-size: 20px
    font-weight: 400
    color: formGrey
    text-transform: uppercase
    margin-bottom: 20px
    @media palmBreakpoint
      max-width: none
      text-align: center

  .hero-form-sub-tagline
    font-family: lato
    font-size: 22px
    font-weight: 300
    color: formGrey
    margin-bottom: 20px
    @media palmBreakpoint
      font-size: 18px