.hexagon
  text-align: center
  width: 86px
  height: 99px
  background: url("../img/hexagon.png") no-repeat center center
  -webkit-background-size: contain
  -moz-background-size: contain
  -o-background-size: contain
  background-size: contain
  position: absolute
  top: -52px
  right: 50%
  margin-right: -43px
  .iconBlock
    display: table-cell
    width: 86px
    height: 99px
    vertical-align: middle
  [class^="icon-"], [class*=" icon-"]
    font-size: 56px
    color: #FFF