.primary-nav
  position: absolute
  z-index: 1
  width: 100%
  padding: 20px 50px
  @extend .box-sizing
  .logo
    max-width: 150px
  .tagline
    float: right
    font-family: lato
    font-size: 14px
    font-weight: 400
    opacity: 0.9
    color: #FFFFFF
    margin-top: 8px

  @media portableBreakpoint
    padding: 20px
  @media palmBreakpoint
    text-align: center
    .tagline
      display: none

.primaryNav-small
  padding: 38px 0
  background-image: -webkit-gradient( linear, right top, left bottom, color-stop(0.12, #1597B8), color-stop(1, #0E52A0) ); background-image: -o-linear-gradient(left bottom, #1597B8 12%, #0E52A0 100%); background-image: -moz-linear-gradient(left bottom, #1597B8 12%, #0E52A0 100%); background-image: -webkit-linear-gradient(left bottom, #1597B8 12%, #0E52A0 100%); background-image: -ms-linear-gradient(left bottom, #1597B8 12%, #0E52A0 100%); background-image: linear-gradient(to left bottom, #1597B8 12%, #0E52A0 100%);
  color: #FFFFFF