.primary-nav
  position: absolute
  z-index: 1
  width: 100%
  display: table
  padding: 20px 50px
  @extend .box-sizing
  .logo-section
    display: inline-block
  .logo
    max-width: 150px
    display: block
  .links
    display: block
  .tagline
    display: block
    margin-top: 10px
    font-family: lato
    font-size: 14px
    font-weight: 400
    opacity: 0.9
    color: #FFFFFF

  @media portableBreakpoint
    padding: 20px
  @media palmBreakpoint
    text-align: center
    .tagline
      display: none

.primaryNav-small
  padding: 50px 0
  background-image: -webkit-gradient( linear, right top, left bottom, color-stop(0.12, #1597B8), color-stop(1, #0E52A0) ); background-image: -o-linear-gradient(left bottom, #1597B8 12%, #0E52A0 100%); background-image: -moz-linear-gradient(left bottom, #1597B8 12%, #0E52A0 100%); background-image: -webkit-linear-gradient(left bottom, #1597B8 12%, #0E52A0 100%); background-image: -ms-linear-gradient(left bottom, #1597B8 12%, #0E52A0 100%); background-image: linear-gradient(to left bottom, #1597B8 12%, #0E52A0 100%);
  color: #FFFFFF

.primary-nav--left
  display: table-cell
  vertical-align: middle
  @media palmBreakpoint
    display: block

.primary-nav--right
  display: table-cell
  vertical-align: middle
  text-align: right
  padding-right: 20px
  @media portableBreakpoint
    padding-right: 50px
  @media palmBreakpoint
    display: block
    margin-top: 6px
    padding-right: 0
    text-align: center

.social-icons
  margin-top: 10px
  a
    text-decoration: none
    margin: 0 5px
    &:last-child
      margin: 0 0 0 5px
    i
      color: #FFFFFF
      font-size: 18px
      transition: all 0.1s ease-in-out
      opacity: .9
      &:hover
        opacity: 1

.siteWrapper
  transition: all 0.2s ease-in-out
  right: 0

.primaryNav
  transition: all 0.2s ease-in-out
  display: block
  background: black
  text-align: center
  overflow-y: auto
  -webkit-overflow-scrolling: touch
  position: fixed
  top: 0
  bottom: 0
  padding: size(1)
  padding-top: size(5)
  z-index: 10
  width: nav-width
  right: nav-width * -1
  @media palmBreakpoint
    padding-top: size(2)
    width: nav-width-narrow
    right: nav-width-narrow * -1
  ul
    margin: 0
    padding: 0
    list-style-type: none
  li
    transition: all 0.2s ease-in-out
    transform: translateX(50px)
    opcaity: 0
    for num in (1..15)
      &:nth-child({num})
        transition-delay: num * 0.05s
  a
    color: #BBBDC0
    text-decoration: none
    font-size: 17px
    text-transform: uppercase
    display: block
    padding: size(1) 0
    font-weight: bold
    letter-spacing: 0.15em
    &:hover
      color: white

body
  overflow-x: hidden
  &.is-offCanvas
    .siteWrapper
      right: nav-width
    .primaryNav
      right: 0
    .siteHeader-navTrigger
      margin-right: nav-width
    .primaryNav
      li
        opcaity: 1
        transform: translateX(0)
    @media palmBreakpoint
      .siteWrapper
        right: nav-width-narrow
      .primaryNav
        right: 0
      .siteHeader-navTrigger
        margin-right: nav-width-narrow

.siteHeader-navTrigger
  transition: all 0.2s ease-in-out
  cursor: pointer
  position: fixed
  top: 29px
  right: 10px
  z-index: 15
  width: 48px
  height: 42px
  transform: translate3d(0, 0, 0)
  background: bdBlue
  display: none
  @media palmBreakpoint
    width: 42px
    height: 38px
    top: 15px
    display: block

  div
    transition: all 0.3s ease-in-out
    background: white
    position: absolute
    left: 10px
    right: 10px
    height: 4px
  &:hover
    .siteHeader-navTriggerTop
      top: 33%
      transform: rotate(-35deg)
      margin-top: -2px

    .siteHeader-navTriggerMiddle
      opacity: 0

    .siteHeader-navTriggerBottom
      bottom: 33%
      transform: rotate(35deg)
      margin-bottom: -2px

.siteHeader-navTriggerTop
  top: 10px

.siteHeader-navTriggerMiddle
  top: 50%
  margin-top: -2px

.siteHeader-navTriggerBottom
  bottom: 10px

body
  &.is-offCanvas
    .siteHeader-navTriggerTop
      transform: rotate(45deg)
      top: 50%
      margin-top: -2px

    .siteHeader-navTriggerMiddle
      opacity: 0

    .siteHeader-navTriggerBottom
      transform: rotate(-45deg)
      bottom: 50%
      margin-bottom: -2px

    .siteHeader-navTrigger
      &:hover
        .siteHeader-navTriggerTop
          top: 33%
          transform: rotate(35deg)
          margin-top: -2px

        .siteHeader-navTriggerMiddle
          opacity: 0

        .siteHeader-navTriggerBottom
          bottom: 33%
          transform: rotate(-35deg)
          margin-bottom: -2px

/* Micro reset */
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}

.fullNav--container
  display: block

.fullNav
  @media palmBreakpoint
    display: none
  @extend .plain-list
  li
    display: inline-block
    font-size: 16px
    font-family: lato
    padding: 0 0 5px 15px
    a
      color: #FFFFFF
      opacity: .9
      text-decoration: none
      &:hover
        opacity: 1