.primary-nav
  position: absolute
  z-index: 1
  width: 100%
  padding: 20px 50px
  @extend .box-sizing
  .logo
    max-width: 150px
  .tagline
    float: right
    font-family: museo-sans
    font-size: 14px
    font-weight: 500
    opacity: 0.9
    color: #FFFFFF
    margin-top: 8px

  @media portableBreakpoint
    padding: 20px
  @media palmBreakpoint
    text-align: center
    .tagline
      display: none