.ribbon
  display: inline-block
  color: #FFFFFF
  padding: 10px 25px 5px
  position: absolute
  top: 45px
  right: -24px
  z-index: 2
  text-shadow: 1px 1px 0 rgba(black, 0.7)
  white-space: nowrap
  // &:before, &:after
  //   content: ''
  //   position: absolute
  //   left: 100%
  //   display: block
  //   border: 10px solid transparent
  //   border-left-width: 5px
  //   border-right-width: 5px
  //   margin-left: -1px
  // &:before
  //   top: 0
  // &:after
  //   bottom: 0
  .icon
    font-size: 19px
    display: inline-block
    vertical-align: middle

.ribbon-label
  text-transform: uppercase
  font-family: museo-sans
  font-size: 18px
  display: inline-block
  vertical-align: middle
  &:before
    content: ''
    position: absolute
    right: 0
    top: 100%
    border: 12px solid transparent
    @media palmBreakpoint
      display: none
  @media palmBreakpoint
    display: table
    width: 100%

  .ribbon-label-small, .ribbon-label-amount
    display: block
    text-align: center
    font-weight: 500
    @media palmBreakpoint
      display: table-cell
      vertical-align: middle

  .ribbon-label-small
    font-size: 14px
    @media palmBreakpoint
      text-align: right
      padding-right: 3px

  .ribbon-label-amount
    font-size: 28px
    @media palmBreakpoint
      text-align: left
      padding-left: 3px

.ribbon--primary
  background-color: ribbonGrey
  border-top-left-radius: 5px
  border-bottom-left-radius: 5px
  border-top-right-radius: 5px
  -webkit-border-top-left-radius: 5px
  -webkit-border-bottom-left-radius: 5px
  -webkit-border-top-right-radius: 5px
  -moz-border-radius-top-left: 5px
  -moz-border-radius-bottom-left: 5px
  -moz-border-radius-top-right: 5px
  @media palmBreakpoint
    display: block
    position: static
    background-color: #FFFFFF
    text-align: center
    text-shadow: none
    color: ribbonGrey
    padding: 0
    margin-bottom: 20px

  // background-image: linear-gradient(lighten(ribbonGrey, 5) 0%, lighten(ribbonGrey, 5) 50%, ribbonGrey 50%, ribbonGrey 100%)
  // &:before
  //   border-top-color: lighten(ribbonGrey, 5)
  //   border-left-color: lighten(ribbonGrey, 5)
  // &:after
  //   border-bottom-color: ribbonGrey
  //   border-left-color: ribbonGrey
  .ribbon-label
    &:before
      border-top-color: ribbonGreyBg
      border-left-color: ribbonGreyBg

sup
  font-size: 20px
  font-family: museo-sans
  font-weight: 500
  line-height: 0
  position: relative
  margin-right: 2px
  vertical-align: baseline
  top: -5px