.section
  position: relative
  width: 100%
  .bg-image
    height: 100%
    position: relative
    background-repeat: no-repeat
    background-position: center center
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover
  .blue-cover
    height: 100%
    width: 100%
    background-color: rgba(20,121,183,0.8)
    padding-bottom: 50px
  .light-blue-cover
    height: 100%
    width: 100%
    background-color: rgba(152,170,172,0.1)
    padding: 50px 0