.services
  h2
    color: bdBlue
  h4
    color: mainText
    @extend .center-block
    max-width: 600px
    margin-bottom: 50px

#servicesAnchor
  padding-bottom: 50px

.service-expanded
  min-height: 200px
  font-size: 20px

.services-back-container
  position: relative
  width: 100%
  z-index: 5
.services-back
  cursor: pointer
  height: 54px
  width: 70px
  background-color: bdOrange
  position: absolute
  top: 0
  left: 0
  .icon-arrow-left
    content: '\e603'
    font-family: 'icomoon'
    speak: none
    font-size: 30px
    color: #FFF
    position: absolute
    top: 50%
    margin-top: -15px
    right: 50%
    margin-right: -14px
    font-style: normal