.service-card
  position: relative
  width: 100%
  padding: 65px 25px 25px
  background-color: #FFF
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2)
  border-top: 6px solid bdBlue
  max-width: 300px
  text-align: center
  @media portableBreakpoint
    margin-bottom: 95px
  &.third
    margin-bottom: 0
  p
    text-align: left
    margin-bottom: 22px
  .button
    background-color: #FFF
    color: bdOrange
    text-transform: uppercase
    display: inline-block
    border: 2px solid bdOrange
    padding: 8px 25px
    &:hover
      background-color: bdOrange
      color: #FFF

.service-card-title
  font-family: lato
  color: bdBlue
  font-weight: 800
  text-transform: uppercase
  font-size: 16px
  margin-bottom: 10px
  cursor: pointer

@media lapBreakpoint
  .service-card.first
    float: right
  .service-card.third
    @extend .center-block

@media palmBreakpoint
  .service-card
    @extend .center-block
