.service-card
  position: relative
  width: 100%
  padding: 65px 25px 25px
  background-color: #FFF
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2)
  border-top: 6px solid bdBlue
  max-width: 300px
  .hexagon
    text-align: center
    height: 99px
    width: 86px
    background: url("../img/hexagon.png") no-repeat center center
    -webkit-background-size: contain
    -moz-background-size: contain
    -o-background-size: contain
    background-size: contain
    position: absolute
    top: -52px
    right: 50%
    margin-right: -43px
    .icon
      display: table-cell
      height: 99px
      width: 86px
      vertical-align: middle
    [class^="icon-"], [class*=" icon-"]
      font-size: 56px
      color: #FFF

.service-card-title
  font-family: lato
  color: bdBlue
  weight: 700
  font-size: 16px