.servicePage-title
  color: bdBlue
  font-family: merriweather
  font-size: 36px
  text-align: center

.servicePage-secondaryTitle
  font-family: lato
  font-size: 22px
  margin-bottom: 40px
  text-align: center
  font-weight: 300

.servicePage-cta
  background-color: #f4f6f7
  position: relative
  padding: 25px 175px 25px 0
  margin-bottom: 50px

.servicePage-cta-ribbon
  background-color: ribbonGrey
  font-family: lato
  margin-top: 10px
  font-weight: 600
  margin-right: 15px
  font-size: 20px
  padding: 10px 20px 10px 0
  color: #FFF
  text-transform: uppercase
  border-top-right-radius: 3px
  border-bottom-right-radius: 3px

.servicePage-cta-textTitle
  color: #313944
  font-size: 22px
  font-weight: 300
  text-transform: uppercase
  margin-bottom: 5px
  strong
    font-weight: 700

.servicePage-cta-text
  margin-bottom: 15px

.servicePage-cta-button
  display: inline-block

.servicePage-modalTagline
  font-family: lato
  font-size: 20px
  font-weight: 400
  color: formGrey
  text-transform: uppercase
  margin-bottom: 20px
  text-align: left

.servicePage-modalSubTagline
  font-family: lato
  text-align: left
  font-size: 22px
  font-weight: 300
  color: formGrey
  margin-bottom: 20px
  @media palmBreakpoint
    font-size: 18px