.service-expanded
  h3
    text-transform: uppercase
    color: bdBlue
    margin-bottom: 20px
    @media palmBreakpoint
      text-align: center
  .hexagon
    width: 120px
    height: 137px
    position: static
    top: auto
    right: auto
    margin-right: 0
    [class^="icon-"], [class*=" icon-"]
      font-size: 78px
    @media palmBreakpoint
      margin-right: auto
      margin-left: auto
  .iconBlock
    width: 120px
    height: 137px
  .combo-first
    padding-right: 20px
    @media lapBreakpoint
      padding-left: 75px
    @media palmBreakpoint
      display: block
      width: auto
      padding-right: 0
  .combo-last
    padding-left: 20px
    padding-top: 20px
    @media palmBreakpoint
      display: block
      width: auto
      padding-left: 0

