.sidebar-widget
  margin-bottom: 15px
  ul
    @extend .plain-list
    li a
      text-decoration: none
      color: bdOrange
      &:hover
        text-decoration: underline

.sidebar-cta
  text-align: center
  margin-bottom: 30px
  border: 5px solid formGrey
  border-radius: 8px
  padding: 20px 10px

.sidebar-title
  @extend .service-card-title
  cursor: auto

.sidebar-text
  margin-bottom: 15px

.sidebar-button
  display: inline-block
  text-decoration: none
  color: #fff

.sidebar-ctaTitle
  @extend .service-card-title
  font-size: 30px
  cursor: auto

