.user-featured-image, .user-content
  margin-top: 30px

.user-content
  margin-bottom: 50px
  a
    color: bdOrange
    text-decoration: none
    &:hover
      text-decoration: underline
  img
    max-width: 100%
    height: auto
    left: 0
    right: 0
    margin: 0 auto
    vertical-align: top
    line-heright: 0
    display: block

.user-featured-image
  position: relative
  img
    width: 100%
    height: auto

.arve-wrapper
  border: 2px solid formGrey