.viba-portfolio-entry-title
  color: bdBlue
  font-family: merriweather
  font-size: 36px

.viba-portfolio-related
  margin-bottom: 40px

.viba-portfolio-buttons-wrapper
  position: absolute
  display: inline-block
  z-index: 10
  top: 50%
  right: 50%
  margin: -25px -52px auto auto !important

.vibaFullLink
  position: absolute
  display: inline-block
  z-index: 1
  left: 0
  right: 0
  top: 0
  bottom: 0

.vibaFullLink--devices
  display: none
  @media vibaBreakpoint
    display: inline-block
    z-index: 10