.wpPage-cta-title
  font-family: lato
  font-size: 30px
  font-weight: 700
  color: bdBlue
  text-transform: uppercase

.wpPage-cta-secondaryTitle
  font-family: lato
  font-style: italic
  font-size: 16px
  margin-bottom: 25px

.wpPage-content
  margin-bottom: 50px

.wpPage-title
  margin-bottom: 10px
  color: bdBlue
  font-family: merriweather
  font-size: 36px
  text-align: center

.wpPage-form
  margin-bottom: 50px
  .wpcf7-submit
    display: inline-block
    width: auto
    @media palmBreakpoint
      display: block
      width: 100%