.why-us
  color: #FFF
  .blue-geometric
    border-top: 6px solid bdBlue
.taglines
  margin-bottom: 50px

.why-us-point
  text-align: center
  margin-bottom: 50px
  padding: 0 5px

.why-us-point-title
  color: bdBlue
  font-family: lato
  font-weight: 700
  padding-bottom: 15px
  position: relative
  &:after
    content: ''
    position: absolute
    bottom: 0
    right: 50%
    margin-right: -40px
    width: 80px
    border-bottom: 1px solid bdBlue
    text-transform: uppercase
.why-us-point-content
  font-family: lato
  margin-top: 13px

.why-us-points
  text-align: center